/*================================================== HEADER ==================================================*/
header {
    height:72px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.logo {
    display:flex;
    align-items:center;
}
.menu nav ul {
    display:flex;
}
.menu a {
    color:var(--black-color);
    font-size:16px;
    font-weight:400px;
    margin-left:40px;
}
.active a{
    color:var(--primary-color);
    padding-bottom:12px;
    border-bottom:1px solid var(--primary-color);
}
.menu a:hover{
    color:var(--primary-color);
    padding-bottom:12px;
    border-bottom:1px solid var(--primary-color);
}
/*Menu mobile*/
.menuMobile {
    width:40px;
    height:28px;
    display:none;
    cursor:pointer;
    margin-top:17px;
    margin-bottom:17px;
}
.menuMobile img {
    width:40px;
    height:28px;
}
/*================================================== BANNER ==================================================*/
main {
    display:flex;
    height:700px;
    box-shadow:0px 10px 10px #f2f2f2c4;
}
#banner {
    display:flex;
    justify-content:center;
    height:700px;
}
#banner .container {
    width:1285px;
}
.banner-left,
.banner-content {
    display:flex;
    justify-content:center;
}
.banner-left {
    align-items:center;
}
.banner-left img{
    height:400px;
    display:flex;
}
.banner-content h1 {
    margin:0;
    font-size:60px;
    font-weight:300;
    line-height:80px;
    max-width:620px;
    margin-bottom:40px;
    color:var(--black-color);
}
.banner-content strong {
    font-weight:400;
    color:var(--primary-color);
}
.banner-content p {
    line-height:26px;
    max-width:686px;
    margin-bottom:40px;
    color:var(--text-color);
}
.banner-options {
    display:flex;
    justify-content:center;
}
.banner-option--patient,
.banner-option--doctor {
    cursor:pointer;
    width:250px;
    height:130px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:6px;
    background-color:var(--primary-color);
}
.banner-option--patient:hover,
.banner-option--doctor:hover {
    background-color:#005AAE;
}
.banner-option--patient img,
.banner-option--doctor img {
    height:50px;
    width:50px;
    margin-top:47px;
}
.banner-option--patient p,
.banner-option--doctor p {
    color:#FFF;
    margin-top:10px;
}
.banner-option--doctor {
    margin-left:50px;
}
/*=================================================== ABOUT ==================================================*/
#about {
    height:700px;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:0px 10px 10px #f2f2f2c4;
}
.about-left,
.about-right {
    display:flex;
    justify-content:center;
}
.banner-thumbnail img {
    height:450px;
}
.about-right h2 {
    margin:0;
    max-width:635px;
    margin-bottom:40px;
}
.about-right p {
    line-height:25px;
    max-width:711px;
}
/*================================================= SERVICES =================================================*/
#services {
    height:auto;
    display:flex;
    justify-content:center;
    padding-top:85px;
    padding-bottom:85px;
}
.service-left {
    display:flex;
}
.service-left h2 {
    margin:0;
    max-width:315px;
    margin-bottom:40px;
}
.service-left p {
    max-width:390px;
    line-height:25px;
}
.service-right {
    max-width:790px;
    gap:50px;
    display:grid;
    grid-template-columns:1fr 1fr;
}
.services-right--item {
    cursor:pointer;
    width:360px;
    height:390px;
    padding:26px 30px;
    display:flex;
    align-items:flex-start;
    border-radius:6px;
    background-color:#FFF;
    box-shadow:0px 0px 20px #d1d1d196;
}
/* Animation */
.services-right--item:hover {
    transform:translateY(-30px);
}
.services-right--item img {
    width:47px;
    height:47px;
}
.services-right--item h3 {
    margin:0;
    font-size:19px;
    font-weight:400;
    margin-top:36px;
    margin-bottom:18px;
}
.services-right--item p {
    line-height:25px;
}
/*================================================== CONTACT =================================================*/
#contact {
    height:800px;
    display:flex;
    justify-content:center;
}
#contact .container {
    align-items:center;
    justify-content:center;
}
#contact h2 {
    margin:0;
    margin-bottom:10px;
}
#contact p {
    text-align:center;
    margin-bottom:50px;
}
#contact strong {
    font-weight:400;
}
form {
    display:flex;
}
.form-headline {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-bottom:30px;
}
form .form-item {
    display:flex;
}
form .form-item label,
form .form-item select {
    font-size:20px;
    font-weight:300;
    color:var(--black-color);
    margin-left:4px;
}
form .form-item input[type="email"] {
    margin-right:48px;
}
form .form-item input[type="email"],
form .form-item select {
    outline:none;
    border:0;
    width:250px;
    font-size:20px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    border-bottom:1px solid var(--black-color);
}
form .form-item textarea {
    border:0;
    width:100%;
    padding:10px;
    font-size:20px;
    margin-top:10px;
    min-width:730px;
    max-width:709px;
    max-height:180px;
    min-height:180px;
    border:1px solid var(--black-color);
}
form button {
    border:0;
    height:50px;
    cursor:pointer;
    color:#FFF;
    font-size:20px;
    margin-top:10px;
    border-radius:6px;
    background-color:var(--primary-color);
}
form button:hover {
    background-color:#568ee2;
}
/*================================================== FOOTER ==================================================*/
footer {
    height:230px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#1C1C1C;
}
.footer-left,
.footer-right {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:60px;
}
footer h3 {
    margin:0;
    color:#FFF;
    font-size:20px;
    font-weight:400;
    margin-top:35px;
    margin-bottom:6px;
}
footer .footer-bar {
    width:40px;
    height:4px;
    margin-bottom:24px;
    background-color:var(--primary-color);
}
footer p {
    font-size:17px;
    font-weight:300;
    color:#8D8D8D;
    text-align:center;
    max-width:380px;
}
.footer-social img{
    width:22px;
    height:22px;
    margin-left:15px;
    margin-right:15px;
}
.footer-copy {
    color:var(--text-color);
    width:100%;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#111;

}
/*============================================== RESPONSIVIDADE ==============================================*/
@media (max-width:1400px) {
    .container {
        padding-left:20px;
        padding-right:20px;
    }
    .banner-thumbnail img {
        height:350px;
    }
    .banner-content h1 {
        font-size:50px;
        line-height:60px;
        margin-bottom:20px;
    }
    footer .container{
        width:1000px;
        padding-left:0px;
        padding-right:0px;
    }
}
@media (max-width:1190px) {
    .banner-content {
        padding-left:20px;
    }
    #about h2,
    #services h2,
    #contact h2 {
        font-size:30px;
    }
    .about-thumbnail img {
        height:290px;
    }
    .banner-content h1 {
        font-size:45px;
        line-height:50px;
        margin-bottom:15px;
    }
    .banner-content p {
        margin-bottom:25px;
    }
    .banner-thumbnail img {
        height:290px;
    }
    .service-left p {
        max-width:300px;
    }
    .services-right--item {
        max-width:340px;
    }
    footer .container{
        width:1000px;
        padding-left:0px;
    }
}
@media (max-width:1050px) {
    #banner .container {
        justify-content:center;
    }
    .banner-left {
        display:none;
    }
    .banner-content {
        padding-left:0;
        align-items:center;
        justify-content:center;
    }
    .banner-content h1,
    .about-right h2 {
        max-width:none;
        text-align:center;
    }
    .banner-content p,
    .about-right p {
        max-width:none;
        text-align:center;
    }
    .banner-option--patient, 
    .banner-option--doctor {
        width:230px;
    }
    #about .container {
        text-align:center;
        flex-direction:column;
    }
    #about h2, 
    #services h2, 
    #contact h2 {
        max-width:none;
        text-align:center;
        margin-bottom:15px;
    }
    #services {
        padding-left:20px;
        padding-right:20px;
    }
    #services .container {
        align-items:center;
        flex-direction:column;
    }
    .service-left p {
        max-width:none;
        text-align:center;
    }
    .service-right {
        margin-top:60px;
    }
    footer .container {
        width:800px;
    }
}
@media (max-width:800px) {
    .service-right {
        grid-template-columns:1fr;
    }
    .form-headline {
        flex-direction:column;
    }
    .form-item {
        margin-bottom:20px;
    }
    .form-headline {
        margin-bottom:10px;
    }
    form .form-item input[type="email"] {
        width:300px;
        margin-right:0;
    }
    form .form-item select {
        width:310px;
    }
    form .form-item textarea {
        min-width:400px;
        max-width:400px;
    }
    footer {
        height:auto;
    }
    footer .container {
        width:320px;
        flex-direction:column;
    }
    .footer-left, 
    .footer-right {
        margin-bottom:30px;
    }
}
@media (max-width:740px) {
    .menuMobile {
        display:flex;
    }
    .menu nav ul {
        height:80px;
        width:100%;
        left:0;
        margin-top:0px;
        position:absolute;
        display:none;
        align-items:center;
        justify-content:center;
        background-color:#FFF;
        box-shadow:0px 10px 10px #f2f2f2c4;
    }
    .menu a {
        margin-left:20px;
        margin-right:20px;
    }
    .banner-content h1, 
    .about-right h2 {
        font-size:33px;
    }
    .about-thumbnail img {
        height:200px;
    }
}
@media (max-height:700px) {
    main {
        height:700px;
    }
    .menu nav ul {
        height:auto;
        line-height:40px;
        flex-direction:column;
    }
    .banner-content {
        padding-top:50px;
    }
    #about {
        height:auto;
        padding-bottom:50px;
    }
    #about, #services {
        padding-top:100px;
    }
}
@media (max-width:562px) {
    .container {
        padding-left:10px;
        padding-right:10px;
    }
    .menu nav ul {
        height:auto;
        line-height:40px;
        flex-direction:column;
    }
    .banner-options {
        flex-direction:column;
    }
    .banner-option--patient, 
    .banner-option--doctor {
        height:120px;
    }
    .banner-option--doctor {
        margin-left:0px;
        margin-top:10px;
    }
    .banner-option--patient img, 
    .banner-option--doctor img {
        margin-top:28px;
    }
    #about,
    #services {
        padding-top:200px;
    }
    .services-right--item {
        height:420px;
        max-width:300px;
    }
    form .form-item input[type="email"] {
        width:208px;
    }
    form .form-item select {
        width:222px;
    }
    form .form-item label, form .form-item select {
        margin-left:0;
    }
    form .form-item textarea {
        min-width:300px;
        max-height:300px;
    }
    .footer-copy {
        height:50px;
        font-size:14px;
        text-align:center;
    }
}